{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <div id="add-block">
    <div class="header">Add a task</div>
    <div>
      <form action="/add" method="post">
        <input type="text" id="name" name="name" placeholder="Task name" />
        <input type="submit" value="Add" />
      </form>
    </div>
    <hr />
    <div id="todolist-block">
      <div class="header">To Do List</div>
      <div id="tasks">
        {% for item in todolist %}
          <div class="task">
            <div class="task-name">
              {{ '[DONE] ' if item.completed else ''}}{{ item.name }}
            </div>
            <div class="task-complete {{ 'disabled' if item.completed else ''}}">
              <form action="/complete" method="post">
                  <input type="hidden" name="id" value="{{ item.id }}" />
                  <input class="complete-button" type="submit" value="Complete" />
              </form>
            </div>
            <div class="task-delete">
              <form action="/delete" method="post">
                <input type="hidden" name="id" value="{{ item.id }}" />
                <input class="delete-button" type="submit" value="Delete" />
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
