<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="A simple Todo List app">
    <link rel="shortcut icon" href="{{request.static_url('todo_app_python_back_end:static/pyramid-16x16.png')}}">
    <link rel="stylesheet" href="{{request.static_url('todo_app_python_back_end:static/css/main.css')}}">

    <title>Todo List</title>
  </head>

  <body>
    {% block content %}
      <p>No content</p>
    {% endblock content %}
  </body>
</html>
